<h1>Welcome <%= @user.name %></h1>
<h2>If you haven't created your Dobber yet, make sure you do that!</h2>
<h2>But be warned, having a Dobber is alot of work. You must walk him, feed him, and play with him, regularly</h2>
<img src = 'dobber.jpg'/>