<h1>Owning a Dobber is alot of responsability.  He needs regular feedings, walks, and treats. Click the button below if you think you're up for it</h1>


<%= form_tag "/create-dobber", method: :post do %>
  <input type="submit" value="Create my Dobber!">
<% end %>